html, body{
    font-size: 100%;
    font-family: 'Droid Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
	letter-spacing: 1px;
	color:#555;
    font-family: 'Droid Sans', sans-serif;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.wh{padding:10px 5px 10px 5px;width: 113.45rem; background:url(../images/bg.jpg) no-repeat #131312b0; position: fixed; background-size: 100% 100%;}
 p{color:rgb(31, 27, 27) ;font-size:20px; line-height:24px; padding:0px; margin:0 auto;}
.tp tr td{background:url(../images/bg.jpg) no-repeat #b4650ab0; padding:0px; text-align:center; color:#550606; font-size:19px; line-height:20px;}
.tp tr td img{display:block;width: 25rem;height:15.6rem ;margin: 0 auto;}
/*-- header --*/
/*-- //nav-effect --*/
.header {
    background:#168eea;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-nav {
    float: right;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #212121;
}
/*-- agileits --*/
.navbar-brand span {
    display: inline-block;
    color: #ff3c41;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #ff3c41;
    text-decoration: line-through;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #ff3c41;
    text-decoration: line-through;
}
.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    padding:19px 18px 0;
     font-family: 'Poppins', sans-serif;
	 font-weight:600;
		 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.header-bottom {
    padding: 0.7em 3em;
}
.navbar-default .navbar-nav > li > a {
        color: #111;
}
.navbar-brand {
         float: left;
    height: 50px;
    padding: 0!important;
    font-size: 0.95em;
    line-height: 37px;
    font-weight: 700;
    color: #111!important;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.logo p {
    display: block;
    color: #ff3c41;
    line-height: 9px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 10px;
}
/*-- //header --*/

/*-- banner-top --*/
.w3layouts1-banner-top{
    background: url(../images/banner1.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts1-banner-top1{
	background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts1-banner-top2{
	background: url(../images/banner3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
/*-- LU--*/
.w3layouts2-banner-top{
    background: url(../images/banner4.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts2-banner-top1{
	background: url(../images/banner5.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts2-banner-top2{
	background: url(../images/banner6.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
/*-- CHUAN --*/
.w3layouts3-banner-top{
    background: url(../images/banner7.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts3-banner-top1{
	background: url(../images/banner8.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts3-banner-top2{
	background: url(../images/banner9.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
/*-- YUE --*/
.w3layouts4-banner-top{
    background: url(../images/banner10.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts4-banner-top1{
	background: url(../images/banner11.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts4-banner-top2{
	background: url(../images/banner12.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
/*-- SU --*/
.w3layouts5-banner-top{
    background: url(../images/banner13.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts5-banner-top1{
	background: url(../images/banner14.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts5-banner-top2{
	background: url(../images/banner15.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
/*-- MIN --*/
.w3layouts6-banner-top{
    background: url(../images/banner16.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts6-banner-top1{
	background: url(../images/banner17.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts6-banner-top2{
	background: url(../images/banner18.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
/*-- ZHE --*/
.w3layouts7-banner-top{
    background: url(../images/banner19.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts7-banner-top1{
	background: url(../images/banner20.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts7-banner-top2{
	background: url(../images/banner21.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
/*-- HUI --*/
.w3layouts8-banner-top{
    background: url(../images/banner22.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts8-banner-top1{
	background: url(../images/banner23.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts8-banner-top2{
	background: url(../images/banner24.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
/*-- XIANG --*/
.w3layouts9-banner-top{
    background: url(../images/banner25.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts9-banner-top1{
	background: url(../images/banner26.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts9-banner-top2{
	background: url(../images/banner27.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 6em;
    margin: 0.1em 0 0.2em 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
	text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-webkit-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-o-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-moz-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	
}
.agileits-banner-info h3 span{
	    background: #667e12;
    padding: 0 15px;
}
.agileits-banner-info {
    text-align: left;
    padding: 18em 0 0em;
}
.agileits-banner-info p {
    color: #e2dfdf;
    font-size: 1em;
    line-height: 2.2em;
    letter-spacing: 2px;
    font-weight: 500;
    width: 49%;
    text-align: left;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
}


.agileits-banner-info span {
	background: #3be8b0;
    padding: 0.5em 2em;
    color: #fff;
    font-size: 1.1em;
    padding: 5px 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#about {
    background: #d61938;
}

.w3about-img {
    background: url(../images/about.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}
.w3about-text {
  background: #fff;
    position: absolute;
    width: 56%;
    padding: 4em;
    right: -50%;
    top: 25%;    
	border: 1px solid #e0e0e0;
	    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
h2.w3l-subtitle {
    margin-bottom: 0.3em;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
    font-size:2.5em;
} 
.w3about-text p {
    line-height: 2em;
}


#dish11 {
    background: #deeb2a;
}
#dish12 {
    background: #c51414;
}
#dish13 {
    background: #b99009;
}
#dish14 {
    background: #45da0a;
}
#dish15 {
    background: #3b3eca;
}
#dish16 {
    background: #0caf6b;
}
#dish17 {
    background: #1be2e2;
}
#dish18 {
    background: #af107a;
}
#dish19 {
    background: #b60505;
}
#dish110 {
    background: #9417a5;
}
#dish111 {
    background: #0dafaf;
}
#dish112 {
    background: #0e3a6d;
}
#dish113 {
    background: #360d5c;
}
#dish114 {
    background: #b3bb42;
}
#dish115 {
    background: #0a5a56;
}
#dish116 {
    background: #045730;
}
#dish117 {
    background: #8b913b;
}
#dish118 {
    background: #0a5581;
}
#dish119 {
    background: #565c08;
}
#dish120 {
    background: #3184c9;
}
#dish121 {
    background: #747a1b;
}
#dish122 {
    background: #deeb2a;
}
#dish123 {
    background: #0b708f;
}
#dish124 {
    background: #6e7508;
}
#dish125 {
    background: #0d85aa;
}
#dish126 {
    background: #881d0a;
}
#dish127 {
    background: #929929;
}
#dish128 {
    background: #530640;
}
#dish129 {
    background: #a4af0b;
}
#dish130 {
    background: #e1e2d3;
}
#dish131 {
    background: #1fb33f;
}
#dish132 {
    background: #7ac9e0;
}
#dish133 {
    background: #deeb2a;
}
#dish134 {
    background: #1889b6;
}
#dish135 {
    background: #b44fc9;
}
#dish136 {
    background: #34b684;
}
#dish137 {
    background: #518840;
}
#dish138 {
    background: #ad1c60;
}
#dish139 {
    background: #11bd0b;
}
#dish140 {
    background: #b6411d;
}


.w3dish-img1 {
    background: url(../images/dish1.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img2 {
    background: url(../images/dish2.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img3 {
    background: url(../images/dish3.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img4 {
    background: url(../images/dish4.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img5 {
    background: url(../images/dish5.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img6 {
    background: url(../images/dish6.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img7 {
    background: url(../images/dish7.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img8 {
    background: url(../images/dish8.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img9 {
    background: url(../images/dish9.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img10 {
    background: url(../images/dish10.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img11 {
    background: url(../images/dish11.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img12 {
    background: url(../images/dish12.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img13 {
    background: url(../images/dish13.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img14 {
    background: url(../images/dish14.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img15 {
    background: url(../images/dish15.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img16 {
    background: url(../images/dish16.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img17 {
    background: url(../images/dish17.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img18 {
    background: url(../images/dish18.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img19 {
    background: url(../images/dish19.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img20 {
    background: url(../images/dish20.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img21 {
    background: url(../images/dish21.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img22 {
    background: url(../images/dish22.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img23 {
    background: url(../images/dish23.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img24 {
    background: url(../images/dish24.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img25 {
    background: url(../images/dish25.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img26 {
    background: url(../images/dish26.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img27 {
    background: url(../images/dish27.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img28 {
    background: url(../images/dish28.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img29 {
    background: url(../images/dish29.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img30 {
    background: url(../images/dish30.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img31 {
    background: url(../images/dish31.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img32 {
    background: url(../images/dish32.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img33 {
    background: url(../images/dish33.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img34 {
    background: url(../images/dish34.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img35 {
    background: url(../images/dish35.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img36 {
    background: url(../images/dish36.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img37 {
    background: url(../images/dish37.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img38 {
    background: url(../images/dish38.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img39 {
    background: url(../images/dish39.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}.w3dish-img40 {
    background: url(../images/dish40.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 36em;
    padding: 0;
    position: relative;
}

@media(max-width:1440px){
	.w3layouts-banner-top,.w3layouts-banner-top1,.w3layouts-banner-top2,.w3layouts-banner-top3{
		min-height:660px;
	}
	.w3about-text {
		width: 68%;
		padding: 4em;
		right: -30%;
		top: 24%;
	}
	h2.w3l-subtitle {
		margin-bottom: 0.3em;
		font-size: 2em;
	}
	h3.w3_heade_tittle_agile {
		font-size: 2.5em;
	}
	#menu,.service-w3l,.portfolio,.contact-main-agile-info,.footer {
		padding: 4em 0;
	}
	.w3_agileits_services_bottom_r_grid {
		padding: 4em 4em 0;
		min-height: 285px;
	}
	.w3_agile_services_bottom_right_grid, .w3_agile_services_bottom_right_grid1, .w3_agile_services_bottom_right_grid2 {
		min-height: 570px;
		padding: 5em;
	}
	.w3_service_bottom_grid_pos h3 {
		font-size: 1.2em;
		line-height: 2.5em;
	}
	.w3_service_bottom_grid_pos h3 {
		font-size: 1.2em;
		line-height: 2.3em;
	}
	.agileits-banner-info {
		padding: 16em 0 0em;
	}
	.agileits-banner-info h3 {
		font-size: 5.5em;
		margin: 0.1em 0 0.2em 0;
	}
}
@media(max-width:1080px){
	#menu, .service-w3l, .portfolio, .contact-main-agile-info, .footer {
		padding: 3em 0;
	}
	.w3about-text {
		position: absolute;
		width: 92%;
		padding:4em;
		right: -30%;
		top: 25%;
	}
	.service-w3l h4.text-center {
		font-size: 21px;
		padding:20px 0 10px 0;
	}
	.w3_service_bottom_grid_pos h3 {
		font-size: 1em;
		line-height: 1em;
	}
	.w3_agileits_services_bottom_r_grid {
		padding: 2em 1em 0;
		min-height: 214px;
	}
	.w3_agile_services_bottom_right_grid, .w3_agile_services_bottom_right_grid1, .w3_agile_services_bottom_right_grid2 {
		min-height: 429px;
		padding: 3em;
	}
	.con-w3l-info p {
      font-size: 0.8em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
		min-height: 530px;
	}
	.agileits-banner-info h3 {
		font-size: 4em;
		margin: 0.1em 0 0.2em 0;
	}
}