/* CSS Document */
*{ padding:0px; margin:0px;}
img{ border:none;}
body{ background:url(../images/index_00.jpg);
    height: 100%;
    width: 100%;
    position: fixed;
    background-size: 100% 100%;}
.dh a{color:#480201; text-decoration:none; font: size 1.25rem;; font-weight:bold; display:block; width:11.6rem;background:#f7faf9da; line-height:50px; margin:0 auto;}
.dh a:hover{ background:#e9c9c8;}
.dh a.hover{ background:#e9c9c8;}
.wh{padding:15px 20px 0px;width: 113.45rem; background:url(../images/bg.jpg) no-repeat #a3a196b0; position: fixed; background-size: 100% 100%;}
 p{color:white ;font-size:20px; line-height:24px; padding:0px; margin:0 auto;}
.tp tr td{ padding:0px; text-align:center; color:#ffffff; font-size:19px; line-height:20px;}
.tp tr td img{display:block;width: 25rem;height:15.6rem ;margin: 0 auto;}